{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4 ml-3" style="font-weight: bold;" href="/">Gemini System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255, 192, 119);">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto"></div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'create' %}">
                        Create Science Plan
                    </a>
                    <a class="nav-item nav-link" href="{% url 'test' %}" style="color: #FFB800">
                        Test Science Plan
                    </a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">
                        <i class="fas fa-power-off">&nbsp;</i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="text-white text-center mb-5 pt-5 page-title-medium">
            Test Science Plan
        </h1>
        <div class="content-section mb-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.creator|as_crispy_field }}
                {{ form.submitter|as_crispy_field }}
                {{ form.funding|as_crispy_field }}
                {{ form.objectives|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.star_system|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.telescope_location|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.start_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.end_date|as_crispy_field }}
                    </div>
                </div>
                <div id="message">{{ session.message }}</div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.file_type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.file_quality|as_crispy_field }}
                    </div>
                </div>
                {{ form.color_type|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.contrast|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.exposure|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.brightness|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.saturation|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.luminance|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.hue|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.highlights|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.shadows|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.whites|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.blacks|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group text-center mt-4">
                    <button class="btn btn-primary" type="submit">Test</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script>
        $('textarea').attr('onClick', 'this.select();')
        $('input').attr('onClick', 'this.select();')

        $('#id_objectives').attr('rows', '3');

        $('.select').addClass('custom-select');
        $('.select').parent().addClass('input-group');

        $('.datetimeinput').css('border-radius', '20px');

        $('#id_start_date').datetimepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd HH:MM:ss',
            value: $('#id_start_date').val(),
            footer: true
        });

        $('#id_end_date').datetimepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd HH:MM:ss',
            value: $('#id_end_date').val(),
            footer: true
        });

        $('.input-group-append').remove();
        $('.btn-default').addClass('btn-primary');
        $('.btn-default').removeClass('btn-default');

        toggleFields();
        $('#id_color_type').on('change', function() {
            toggleFields();
        });


        function toggleFields() {
            if($('#id_color_type').val() == "Color mode") {
                $('#div_id_highlights').hide();
                $('#div_id_shadows').hide();
                $('#div_id_whites').hide();
                $('#div_id_blacks').hide();

                $('#div_id_brightness').show();
                $('#div_id_saturation').show();
                $('#div_id_luminance').show();
                $('#div_id_hue').show();
            }

            if($('#id_color_type').val() == "B&W mode") {
                $('#div_id_highlights').show();
                $('#div_id_shadows').show();
                $('#div_id_whites').show();
                $('#div_id_blacks').show();

                $('#div_id_brightness').hide();
                $('#div_id_saturation').hide();
                $('#div_id_luminance').hide();
                $('#div_id_hue').hide();
            }
        }
    </script>
    
{% endblock content %}