{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4 ml-3" style="font-weight: bold;" href="/">Gemini System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255, 192, 119);">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto"></div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">
                        <i class="fas fa-power-off">&nbsp;</i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="text-white text-center mb-5 pt-5 page-title-medium">
            Validate Science Plan
        </h1>
        <table class="table table-hover bg-white borderless" style="border-radius: 20px;">
            <tbody>
                <tr>
                    <td class="bg-white py-5 text-center" style="border-radius: 20px;">
                        <i class="fas fa-check mb-3" style="color: #007BFF; font-size: 5em;"></i>
                        <h5>The science plan is validated.</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
{% endblock content %}